<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Full Screen Mode</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registration Details
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DynamicFormBuilder">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dynamic Form Builder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ValidationMessage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Validation Message
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coulmnlayout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> coulmnlayout
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Formgroup">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Form Group
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Adaptivelayout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Adaptive Layout
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="template">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Templates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomEditors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Custom Editors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Api">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Api
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
